/* Changes all pages importing this CSS file to this background color.*/
body {
  background-color: whitesmoke;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: rgb(210, 238, 255);
  cursor: pointer;
}

h1 {
  margin: 0;
}

.error {
  color: #d32f2f;
  font-size: 14px;
  font-weight: 700;
}

.App {
  text-align: center;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
